* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.text { 
    font-family: inter;
    color:  rgb(79 79 79 / var(--tw-text-opacity, 1)) ;
    margin-top: 150px;
    
}

.Input-Container { 
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bar { 
    flex-grow: 1;
    outline: none;
    border-top: none;
    border-left: none ;
    border-right: none ;
    border-bottom: 2px solid rgb(159 159 159 / var(--tw-border-opacity, 1));
    appearance: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.plus { 
    color: white;
    background-color: rgb(79 79 79 / var(--tw-text-opacity, 1));
    box-sizing: border-box;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
    
}

.task { 
    font-family: inter;
    font-size: 20px;
    list-style-type: none;
    padding-right: 30px;

}

.task li { 
    border-radius: 20px;
    border: 0.5px solid rgb(159 159 159 / var(--tw-border-opacity, 1));
    width: 100%;
    height: 60px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 15px;
    margin-right: 10px;
    
}



.task li input[type="checkbox"] {
   
    margin-right: 15px; 
    padding-right: 0;
    width: 20px;
    height: 20px;
}

.task button { 
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    font-weight: 150px;
    font-size: 20px;
    margin-left: 50px;
    color: solid rgb(159 159 159 / var(--tw-border-opacity, 1));

}

.task li.completed { 
    opacity: 0.6;
}

.task li.completed span { 
    text-decoration: line-through;
    color: #a9a9a9;
}
